body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,input{margin:0;padding:0;}
body{font-size:12px;font-family: '微软雅黑'}
img{border:none;}
li{list-style:none;}
input,select,textare{outline:none;}
input{border:none;}
textare{resize:none;}
a{text-decoration:none;}
.fl{float:left;}
.fr{float:right;}
.hide{display:none};

/*header*/
.header{width:1349px;background-color:#333;color:#ccc;}
.ggwidth{width:1090px;height:36px;margin:0 auto;}
.header_p{width:108px;line-height:36px;float:left;}
.header_right a:hover{color:#fff;}
.header_right{width:480px;height:36px;float:right;line-height:36px;margin:0 auto;}
.header_right  a{float:left;color:#ccc;margin-right:10px;}
.header_right > a::after{content:"|";margin:0 8px;color:#999;}

.header_right .xiala{float:left;width:95px;position:relative;top:0;left:0;margin:0;}
.list{height:0;width:95px;position:absolute;top:36px;left:-20px;background-color:#fff;border:1px solid #ddd;border-top:none;text-align:center;box-shadow:0 0 2px #ddd;transition:height .2s ease-out;overflow:hidden;z-index:66;}
.header_right .xiala:hover .list{height:185px;}
.xiala:hover .sanjiao{display:block}
.xiala i{position:absolute;top:10px;width:16px;height:16px;background-image:url(../icon/上.png);}
.app:hover .sanjiao1{display:block;}
.sanjiao{width:0;height:0;border-top:5px solid transparent;
                          border-right:5px solid transparent;
						  border-bottom:5px solid #fff;
						  border-left:5px solid transparent;
						  position:absolute;top:26px;left:20px;
						  display:none;}
.sanjiao1{width:0;height:0;border-top:5px solid transparent;
                          border-right:5px solid transparent;
						  border-bottom:5px solid #fff;
						  border-left:5px solid transparent;
						  position:absolute;top:26px;right:80px;
						  display:none;}
.list_all li{display:black;margin:0 20px;border-bottom:1px solid #ddd;}
.list_all .a_last{border-bottom:none;}
.list_all li a{float:none;margin:0;color:#999;}
.list_all li a:hover{color:#b4a078;}
.app{position:relative;}
.app .erwei{width:138px;height:0;position:absolute;top:36px;left:320px;box-shadow:0 0 10px #ddd;z-index:22;transition:height .1s;overflow:hidden;}
.header_right .app:hover .erwei{height:155px; }
/*header结束*/
/*menu开始*/
.menu{width:1090px;height:183px;background-color:#fff;margin:5px auto;}
.logo{width:180px;height:60px;position:absolute;top:80px;left:550px;}
.search{width:400px;height:32px;margin-top:65px;background-color:#fff;position:relative;}
.search_text{border-bottom:1px solid #d8cebc;width:252px;height:23px;margin-top:9px;color:#333;outline:none; padding-left:10px;font-size:12px;}
.waikuang{position:relative;}
.quan{display:inline-block;width:15px;height:15px;background-color:rgba(252,3,3,0.7);border-radius:50%;line-height:15px;text-align:center;position:absolute;top:2px;right:65px;}
.search .search-content{position:absolute;
	top:33px;
	left:0;
	display:none;
	width:260px;
	border:1px solid #ddd;
	border-bottom: none;
	border-top:none;
	font-size:12px;
	background-color:#fff;z-index:3;}
.search_text{font-family: '微软雅黑'}
.search-content li {display:block;width:240px;height:25px;font-size:14px;padding:3px 10px;}
.search  .search_text:focus + .search-content{display:block;}
.search-content li a{color:#333;margin:5px 0;}
.search-content li:hover{color:#d09a5c; background-color:#ddd;}
.icon-gouwuche{margin-left:20px;}

.nav{width:100%;height:40px;margin-top:56px;line-height:1;z-index:2;position:relative;float:left;padding-left:20px;}
.nav-tab{height:35px;position:relative;}
.nav-tab>li {float:left;font-size:14px;margin-left:12px;padding:6px 20px 8px;font-weight:bold;}
.nav-tab .shouye{color:#b4a078;}
.nav-tab >li a{color:#333;}
.ziti:hover{color:#b4a078;border-bottom:4px solid #b4a078;}
.contain{width:1349px;height:auto;background-color:#fff;overflow:hidden;position:absolute;left:-151px;top:20px;box-shadow:0 5px 5px #999}
.item{margin-left: 20px;}
.container{width:1060px;height:auto;margin:0 auto;overflow:hidden;}
.item li{float:left;width:80px;padding:30px 30px;text-align:center;line-height:1;}
.item li a:hover{color:#b4a078}
/*menu结束*/
/*顶部固定栏*/
.top-scroll{position:fixed;top:0;width:1349px;height:60px;background-color:#fff;z-index:955;left:0;}
.top-container{width:1090px;height:60px;margin:0 auto;}
.ding-logo{float:left;width:105px;height:35px;margin-top:12.5px;background-image:url(../icon/yanxuan.png);background-position:0 -216px;}
.top-nav-tab{height:35px;position:absolute;top:12.5px;left:270px;}
.top-nav-tab>li {float:left;font-size:14px;margin-left:5px;padding:6px 18px 8px;font-weight:bold;}
.top-nav-tab .shouye{color:#b4a078;}
.top-nav-tab >li>a{color:#333;}
.top-nav-tab >li>a:hover{color:#b4a078;border-bottom:3px solid #b4a078;}
.top-contain{width:1349px;height:auto;background-color:#fff;overflow:hidden;position:absolute;left:-270px;top:47px;box-shadow:0 2px 10px #999}
.top-item{margin-left: 20px;}
.top-container{width:1060px;height:auto;margin:0 auto;overflow:hidden;}
.top-item li{float:left;width:80px;padding:30px 30px;text-align:center;line-height:1;}
.top-item li a:hover{color:#b4a078}
.top-item li a{color:#333;}
.reg-box{position:absolute;top:20px;right:215px;}
.reg-box a{color:#333;}
.reg-box a:hover{color:#b4a078}
.gou-car{width:34px;height:32px;position:absolute;top:10px;right:130px;margin:0 25px;}
.gou-car .che{position:absolute;background-image:url(../icon/yanxuan.png);width:23px;height:23px;bottom:0;left:0;background-position:0 -80px;}
.gou-car .shu{position:absolute;width:19px;height:19px;top:0;right:0;background-image:url(../icon/yanxuan.png);background-position:0 -50px;z-index: 1;color:#fff;text-align:center;line-height:19px;}

/*顶部固定栏结束*/
/*躯干*/
.picture{width:1349px;height:420px;position:relative;margin-top:20px;}
.photobox{width:1349px;height:420px;}
.photobox li{position:absolute;}
.photobox li.active{display:block}
.icon-icon4{width:50px;height:50px;position:absolute;top:200px;left:135px;border-radius:50%;background-color:rgba(208,196,175,0.9)}
.icon-icon4:hover{background-color:#B4A078;}
.icon-you1{width:50px;height:50px;position:absolute;top:200px;right:135px;border-radius:50%;background-image:url(../icon/11you.png);background-position:-5px -165px;}
.icon-you1:hover{background-image:url(../icon/11you.png);background-position:-5px -85px;}
.dian{width:300px;height:28px;text-align:center;position:absolute;bottom:2px;left:600px;}
.indes li:hover{border:4px solid #DFCEAD;background-color:rgba(190,170,133,.2);}
.indes li.active{border:4px solid #DFCEAD;background-color:rgba(190,170,133,.2);}
.indes li a{display: inline-block;width:15px;height:16px;line-height:16px}
.indes li{float:left;width:7px;height:6px;
	margin-left:15px;
	border:4px solid #ddd;
	border-radius:50%;
	background-color:#DFCEAD;}
.neirong{width:1090px;height:400px;margin:0 auto;margin-top:30px;}
.b-one,.b-two{width:1090px;height:32px;}
h1{display: block;font-size: 2em;float:left;}
.xushu,.sx{font-size:14px;margin-top:13px;margin-left:20px;overflow:hidden;}
.gt{width:85px;height:28px;float:right;margin-top:13px;}
.gt a{color:#333;}
.b-one .gt a:hover{color:#d09a5c;}
.b-two .gt a:hover{color:#d09a5c;}
.tupian{width:1090px;height:320px;margin-top:20px;
		position:relative;overflow:hidden;}
.xiangzi h3,.chuang h3,.duanku h3,.shouzhuo h3{height:50px;margin-top:30px;}
.xiangzi p,.chuang p,.duanku p，.shouzhuo p{display:inline-block;padding-top:20px;border-top:1px solid #777;}
.xiangzi,.chuang{text-align:center;width:357px;height:320px;margin-right:10px;float:left;position:relative;overflow:hidden;}
.duanku,.shouzhuo{width:357px;height:155px;position:relative;overflow:hidden;text-align:center;}
.xiangzi img,.chuang img,.duanku img,.shouzhuo img{position:absolute;top:0;left:0;
					transition:transform 1.5s;z-index:-1;}
.xiangzi:hover img,.chuang:hover  img,.duanku:hover img,.shouzhuo:hover img{transform:scale(1.1);}
.duanku{position:absolute;top:0;right:0;clear:both;}
.shouzhuo{float:right;margin-top:-155px;}
.neirong-a{width:1090px;height:420px;margin:0 auto;margin-top:30px;}
.xlian,.xie,.nan{width:265px;height:361px;margin-right:10px;position:relative;}
.xiawei{width:265px;height:361px;position:relative;}
.tupian-a{width:1090px;height:420px;margin-top:10px;position:relative;}

.imgeA,.imgeB,.imgeC,.imgeD{position:absolute;top:0;left:0;display:none;}

.xlian:hover .imgeA,.xie:hover .imgeB,.nan:hover .imgeC,.xiawei:hover .imgeD{display:block;}

.xlian-s,.xie-s,.nan-s,.xiawei-s{width:265px;height:96px;padding-top:3px;
						text-align:center;line-height:1.5;}
						
.xlian:hover .xlian-s,.xie:hover .xie-s,.nan:hover .nan-s,.xiawei:hover .xiawei-s{border:1px solid #ddd;box-shadow:0 0 20px #ddd;background-color:#F4F0EA}
				
.tupian-a p{display:line;}
.xlian-s a,.xie-s a,.nan-s a,.xiawei a{color:#333;}
.xlian-s a:hover,.xie-s a:hover,.nan-s a:hover,.xiawei-s a:hover{color:#d09a5c;}

.renqi{width:1349px;height:700px;background-color:#F4F0EA;}
.renqi-box{width:1090px;height:640px;margin:0 auto;overflow:hidden;}
.headd{height:30px;margin:60px 0 20px;}
.a-box{margin-left:145px;height:30px;line-height:30px;font-size:14px;}
.a-box .aa{float:left;border-bottom: 2px solid #b4a078;margin-right:50px;}
.a-box .aa a{color: #b4a078;}
.a-box .bb{float:left;}
.a-box .bb a{color:#333}
.a-box .bb a:hover{color:#b4a078}
.headd .gt{margin-top:-26px;}

.b-box{width:1090px;height:530px;}
.cdian{width:390px;height:530px;background-color:#fff;float:left;text-align: center;position:relative;}
.cdian img{margin:40px 35px;}
.jbao,.yashua,.baixie,.beizi,.lvxing,.TX{float:left;width:223px;height:260px;background-color:#fff;margin-left:10px; text-align:center;position:relative;overflow:hidden;}
.jiao > span{display:inline-block;width:auto;height:18px;background-color:#b4a078;border-radius:5px;position:absolute;top:10px;left:10px;}
.tx-box{width:223px;height:181px;overflow:hidden;}
.jbao,.yashua,.baixie{margin-bottom:10px;}
.cdian .cdian-a{width:390px;height:110px;text-align:center;
				border-top:1px solid #ddd;font-size:18px;color:red;}
.jbao-a{width:223px;height:70px;font-weight:bold;text-align:center;border-top:1px solid #ddd;color:red;font-size:14px;padding-top:20px;position:relative;}
.jbao-a span{display:inline-block;width:auto;height:18px;background-color:#E36843;color:#fff;margin-top:5px;position:absolute;top:0;left:90px;}
.cdian-a a{line-height:110px;color:#333;font-weight:bold;}
.cdian-a a:hover,.jbao-a a:hover{color:#b4a078}
.jbao-a a{color:#333;line-height:30px;}
.cdian img,.jbao img,.yashua img,.baixie img,.beizi img,.lvxing img,.TX img{transition:transform 1.5s;}
.cdian:hover img,.jbao:hover img,.yashua:hover img,.baixie:hover img,.beizi:hover img,.lvxing:hover img,.TX:hover img{transform:scale(1.1);}
/*躯干结束*/
/*底部开始*/
.btm{width:1349px;height:470px;border:1px solid #ddd;}
.kefu{width:1090px;height:238px;margin:30px auto;}
.kfphone,.guanzhu,.apper{float:left;width:362.33px;height:204px;background-color:#fff;text-align:center;}
.kfphone{line-height:3}
.kfphone a{display:block;width:100px;height:28px;float:left;border:1px solid #333;line-height:28px;text-align:center;color:#333;font-size:14px;border-radius:5px;margin-left:20px;}
.kfphone a:hover{background-color:#666;color:#fff;}
.apper{line-height:3;}
.apper p{color:#b4a078;margin-top:-15px;}
.guanzhu{line-height:2;border-left:1px solid #ddd;border-right:1px solid #ddd;}
.guanzhu p{padding:0 45px;}
.yan,.weixin,.weibo{width:32px;height:32px;background-color:red;float:left;margin:0 10px;position:relative;}
.yan{background-image:url(../icon/dibu.png);background-position:0 -160px;border-radius:15px;}
.weixin{background-image:url(../icon/dibu.png);border-radius:14px;background-position:0 -118px;}
.weibo{background-image:url(../icon/dibu.png);border-radius:15px;background-position:0 -76px;}
.yan-b,.weixin-b{width:123px;height:123px;position:absolute;top:40px;left:-60px;box-shadow:0 0 20px #ddd;display:none;background-color:#888;}
.yan-b img,.weixin-b img{margin-top:10px;}
.weixin-b{left:-40px;}
.yan:hover .yan-b{display:block;}
.weixin:hover .weixin-b{display:block;z-index:55}
.dibu{width:1349px;height:204px;background-color:#414141;overflow:hidden;}
.dibu-c{position:relative;width:1090px;height:145px;margin:0 auto;margin-top:35px;overflow:hidden;}
.ttyou,.mianyou,.pbao{width:363.33px;height:51px;text-align:center;float:left;font-size:18px;overflow:hidden;color:#ddd;border-bottom:1px solid #4F4F4F;padding-bottom:30px;}
.ttyou span,.mianyou span,.pbao span{float:left;width:51px;height:51px;background-color:#666;margin:0 20px 0 80px;border-radius:22px;}
.ttyou p,.mianyou p,.pbao p{float:left;line-height:51px;margin-right:30px;}
.ttyou span{background-image:url(../icon/zuidi.png);}
.mianyou span{background-image:url(../icon/zuidi.png);background-position:0 -61px;}
.pbao span{background-image:url(../icon/zuidi.png);background-position:0 -122px;}
.bottm{text-align:center;width:1090px;height:36px;margin-top:145px;position:absolute;bottom:0px;overflow:hidden;}
.zuidi{width:694px;height:18px;margin:0 auto;}
.zuidi a,.zuidi b{float:left;color:#888;font-weight:bold;}
.zuidi b{font-weight:bold;margin:auto 10px;}
.bottm img{width:36px;height:38px;position:absolute;right:190px;top:0;}
/*底部结束*/
/*右边栏*/
.fix{width:72px;height:479px;position:fixed;bottom:100px;right:0;z-index:999;background-color:#fff}
.fix .xinren,.xiazai{height:82px;width:72px;display:block;font-size:16px;text-align:center;overflow:hidden;color:#333;border-bottom:1px solid #ddd;}
.dingyue,.zaixian{display:block;width:75px;height:78px;font-size:16px;text-align:center;overflow:hidden;border-bottom:1px solid #ddd;color:#333}
.dingyue,.xiazai{position:relative;}
.zaixian{border:none;}
.zaixian{margin:3px 0;}
.xinren .icon-gift1{display:block;width:28px;height:29px;background-image:url(../icon/fix.png);background-position:0 -297px;margin:8px auto;}
.icon-shoujiapp1{display:block;width:20px;height:30px;margin:8px auto;background-image:url(../icon/fix.png);background-position:0 -168px;}
.icon-wifi1{display:block;width:26px;height:26px;margin:10px auto;background-image:url(../icon/fix.png);background-position:0 -425px;}
.icon-zaixiankefu1{display:block;width:32px;height:31px;margin:8px auto 8px;background-image:url(../icon/fix.png);background-position:0 -87px;}
.xinren:hover,.xiazai:hover,.dingyue:hover,.zaixian:hover{color:#b4a078}
.xinren:hover .icon-gift1{background-image:url(../icon/fix.png);background-position:0 -258px;}
.xiazai:hover .icon-shoujiapp1 {background-image:url(../icon/fix.png);background-position:0 -128px;}
.dingyue:hover .icon-wifi1{background-image:url(../icon/fix.png);background-position:0 -389px;}
.zaixian:hover .icon-zaixiankefu1{background-image:url(../icon/fix.png);background-position:0 -46px;}
.fix .dingyue-bb:hover  .dingyue11{display:block;}
.sanjiao11{width:0;height:0;border-top:10px solid transparent;
                          border-right:10px solid transparent;
						  border-bottom:10px solid transparent;
						  border-left:10px solid #fff;position:absolute;right:-20px;top:100px;}
.dingyue11{width:370px;height:218px;position:absolute;right:95px;top:-70px;box-shadow:0 0 20px #666;background-color:#fff;display:none;}
.dingyue-bb{display:block;width:81px;height:78px;position:relative;font-size:16px;text-align:center;border-bottom:1px solid #ddd;color:#333;}
.shang{width:370px;height:70px;background-image:url(../icon/fix.png);background-position:0 -461px;
		color:#fff;font-size:26px;line-height:70px;text-align:center;}
.xx{width:15px;height:15px;position:absolute;top:10px;right:10px;background-image:url(../icon/xx.png);background-position:-4px -58px;border-radius:50%;}
.zhong{width:370px;height:90px;margin-top:20px;text-align:center;color:#888}
.zhong input{width:185px;height:22px;padding:5px 10px;float:left;border:1px solid #ddd;border-right:none;
			margin-top:10px;margin-left:40px;}
.btn{width:80px;height:34px;background-color:#B4A078;float:left;margin-top:10px;
color:#fff;line-height:34px;cursor:pointer;}
.xia{width:370px;height:14px;margin:10px 20px 20px 10px;color:#b4a078}
.xia .tb1,.tb3{width:14px;height:14px;}
.xia i{display:inline-block;}
.tb1{background-image:url(../icon/fix.png);background-position:0 -541px;}
.tb3{background-image:url(../icon/fix.png);background-position:0 -365px;}
.tb2{width:14px;height:12px;background-image:url(../icon/fix.png);background-position:0 -24px;}
.xia .tb{float:left;width:122px;height:auto;line-height:1;}
.zhong,.xia{text-align:center;font-size:14px;}


/*第二页*/
.widther{width:1090px;height:3933px;margin:0 auto;border:1px solid #ddd;border-left:none;border-bottom:none;}
.head-b{height:52px;}
.head-b span{float:left;font-size:13px;line-height:52px;margin-left:10px;}
.head-b span a{color:#333;}
.head-b span a:hover{color:#b4a078;text-decoration:}
.xqing{width:1090px;height:440px;position:relative;}
.xqing-left{position:absolute;width:524px;height:440px;overflow:hidden;}
.xqing-right{width:566px;height:366px;;float:right;}
.xqing-left .big{width:428px;height:428px;background-image:url(../image/big3.png);position:relative;}
.lita{width:78px;height:76px;background-color:#ddd;transition:transform 0;margin-bottom:12px;}
.lita a{display:inline-block;width:100%;height:100%;}
.lita:hover{border:2px solid #b4a078;transform:scale(.95);} 
.lita:hover img{transform:scale(.9);}

.jeishao{width:504px;height:58px;}
.laur{display:block;margin-top:20px;color:#b4a078;background-color:#F5F3EF;padding:0 10px;height:22px;border:1px solid #b4a078;line-height:22px;}
.shoujia{width:504px;height:112px;background-color:#f5f3ef;border-top:1px dotted #333;border-bottom:1px dotted #333;margin-top:20px;margin-left:30px;}
.jiage{width:504px;height:45px;line-height:45px;padding-top:10px;margin:20px 0 0 10px;}
.jiage-b{width:504px;height:24px;line-height:24px;margin-bottom:30px;}
.jiage-b span{margin:0 8px}
.chicun{width:504px;height:47px;margin-left:30px;}
.chicun a{display:block;width:98px;height:28px;border:2px solid #b4a078;float:left;font-size:16px;margin:10px 0 0 20px;text-align:center;line-height:28px;color:#333;}
.shul{width:493px;height:36px;margin:25px 0 0 30px;font-size:14px;}
.shul span{display:block;border:1px solid #333;width:36px;height:30px;float:left;text-align:center;line-height:30px;font-size:22px;}
.goumai{width:492px;height:50px;margin:30px 0 0 30px;}
.goumai a{display:block;}
.liji,.jiaru{width:168px;height:50px;border:1px solid #b4a078;line-height:50px;text-align:center;border-radius:3px;}
.liji{background-color:#F5F3EF;color:#b4a078;}
.jiaru{background-color:#B4A078;margin:0 10px;}
.shocang{width:48px;height:48px;line-height:25px;text-align:center;border:1px solid #b4a078;background-color:#fff;}
.jiaru {color:#fff}
.shocang {color:#B4A078;border-radius:8px;}
.shocang p{display:block;background-image:url(../icon/shoucang.png) no-repeat;margin-bottom:-15px;}
.kan{width:1088px;height:44px;background-color:#F5F5F5;margin-top:20px;line-height:44px;}
.shocang img{margin-bottom:-10px;}
.zaikan{width:1088px;height:310px;position:relative;border:1px solid #ddd;}
.tu1,.tu2,.tu3,.tu4{width:210px;height:310px;float:left;margin:0 10px;}
.tu1{margin-left:95px;}
.tutu1,.tutu2,.tutu3,.tutu4{width:210px;height:210px;overflow:hidden;}
.tushu1,.tushu2,.tushu3,.tushu4{width:210px;height:80px;text-align:center;line-height:40px;padding-top:10px;}
.tutu1 img,.tutu2 img,.tutu3 img,.tutu4 img{transition:transform 1.5s;}
.tushu1 a,.tushu2 a,.tushu3 a,.tushu4 a{font-size:15px;font-weight:bold;color:#333;}
.tushu1 p,.tushu2 p,.tushu3 p,.tushu4 p{font-weight:bold;color:red;font-size:15px;}
.tushu1 a:hover,.tushu2 a:hover,.tushu3 a:hover,.tushu4 a:hover{color:#B4A078;}
.tu1:hover .tutu1 img,.tu2:hover .tutu2 img,.tu3:hover .tutu3 img,.tu4:hover .tutu4 img{transform:scale(1.1);transition:transform all 2s;}
.zaikan .icon_zuo,.icon_you{width:30px;height:30px;position:absolute;}
.icon_zuo{border-radius:15px;left:30px;top:140px;background-image:url(../icon/111zuo.png);background-position:-2px -92px;}
.icon_you{right:30px;top:140px;border-radius:15px;right:30px;top:140px;background-image:url(../icon/111you.png);background-position:-2px -89px;}
.icon_zuo:hover{background-image:url(../icon/111zuo.png);background-position:-2px -46.5px;}
.icon_you:hover{background-image:url(../icon/111you.png);background-position:-2px -46px;}
.left-box{width:750px;height:2333px;float:left;}
.right-box{width:298px;height:2280px;border:1px solid #ddd;float:right;}
.rexiao{width:298px;height:41px;line-height: 41px;background-color: #f5f5f5;
    font-size:18px;text-align:center;font-weight:700;border-bottom:1px solid #ddd;}
.right-box > ul li{width:250px;height:308px;box-sizing: border-box;margin:24px 24px 0 24px;border-bottom: 1px solid #e8e8e8;}
.pia{width:250px;height:250px;overflow:hidden;}
.awenzi{width:250px;height:58px;text-align:center;font-size:14px;line-height:2;}
.awenzi p{color:red;}
.awenzi a{color:#333;}
.awenzi a:hover{color:#B4A078;}
.pia img{transition:transform .5s;}
.right-box > ul li:hover .pia img{transform:scale(1.1);transition:transform all 1s;}
.zhuanti{width:298px;height:840px;}
.zhuanti .lll{width:260px;height:140px;}
.zhuanti li a{display:block;width:260px;height:140px;position:relative;overflow:hidden;}
.hei1{position:absolute;bottom:0;left:0;width: 100%;height:30px;
    line-height:30px;text-align: center;font-size:14px;color:#fff;
	background-color:transparent;background-color:rgba(0,0,0,.7);
    zoom: 1;}


.left-box,.right-box{margin-top:20px;}
.pingjia{width:748px;height:40px;background-color:#f5f5f5;}
.pingjia a{display:block;width:169px;height:40px;color:#333;font-size:14px;float:left;text-align:center;line-height:40px;border:1px solid #ddd;}
.pingjia .p-a{background-color:#fff;border-right:none;border-bottom:none;border-top:2px solid #B4A078;}
.pingjia a:hover{color:#B4A078}
.tishi{width:750px;height:211px;margin-top:2px;}
.tishi .lla{width:315px;height:31px;float:left;border-bottom: 1px dashed #e8e8e8;}
.llb{width:690px;height:24px;border-bottom: 1px dashed #e8e8e8;}
.llc{width:690px;height:72px;}
.tishi span{display:block;}
.ssa{width:105px;height:24px;}
.tishi li{padding:8px 30px;
    line-height: 24px;
    font-size: 14px;}
.tp{width:750px;height:2000px;font-size:0;margin-top:20px;}
.ccwt{width:750px;height:52px;font-size:18px;background-color:#f5f5f5;
    height:52px;margin-bottom:30px;text-align:center;
    line-height:52px;clear:both;}
.ruhe{width:750px;height:540px;font-size:14px;}
.ruhe li{width:750px;padding-bottom:32px;line-height: 18px;color: #999;}
.ruhe span{display:block;line-height:1; padding-bottom:8px;color:#333;}

/*第三页*/
.gbd{width:1349px;height:1700px;padding-bottom:80px;background-color:#f5f5f5;}
.gbd-cen{width:1090px;height:1500px;margin:0 auto;}
.top1{width:1090px;height:52px;line-height:52px;background-color:#f5f5f5;color:#B4A078}
.top1 a{color:#333;margin-right:20px;}
.top1 a:hover{text-decoration:underline;}
.pian2{width:1090px;height:310px;position:relative;background-image:url(../image/pp2.jpg);}
.dian2{width:1090px;height:30px;text-align:center;position:absolute;bottom:0;}
.dian2 li{width:10px;height:10px;border-radius:50%;background-color:#666;float:left;margin:0 10px;}
.pian-left,.pian-right{width:40px;height:48px;position:absolute;}
.pian-left{left:10px;top:130px;background-image:url(../icon/zuo11.png);background-position:0 -80px;}
.pian-left:hover{background-image:url(../icon/zuo11.png);background-position:0 -22px;}
.pian-right{right:10px;top:130px;background-image:url(../icon/you11.png);background-position:0 -69px;}
.pian-right:hover{background-image:url(../icon/you11.png);background-position:0 -11px;}
.fenlei{width:1010px;height:1200px;padding:0 40px;background-color:#fff;margin-top:30px;}
.f11{width:1010px;height:54px;line-height:54px;font-size:14px;border-bottom:1px dashed #ddd;}
.f11 a{margin:0 15px;color:#333;}
.f11 a:hover,.f22 a:hover{color:#b4a078;}
.f22{width:1010px;height:55px;line-height:55px;font-size:14px;border-bottom:1px solid #ddd;}
.f22 a{margin:0 15px;color:#333;}
.xialiang{font-size:14px;width:1010px;height:76px;margin-top:30px;text-align:center;}
.tup{display:inline-block;width:102px;height:44px;}
.tup span{display:block;font-size:24px;font-weight:700;line-height:24px;float:right;margin-top:13px;}
.tbox{width:1020px;height:900px;margin-top:30px;}
.tbox li{width:245px;height:361px;float:left;margin-right:10px;margin-bottom:50px;}
.pic1{width:245px;height:245px;position:relative;background-color:#F4F4F4;}
.pic1 a{display:block;width:245px;height:245px;position:relative;}

.pic1 span{width:54px;height:20px;display:block;background-color:#F4F0EA;color:#A7936E;border:1px solid #A7936E;border-radius:5px;line-height:20px;text-align:center;position:absolute;left:10px;top:10px;}
.wen1{width:245px;height:107px;text-align:center;line-height:2;font-size:14px;padding-top:20px;}
.p1{color:red;font-weight:bold;border-bottom:1px solid #ddd;width:132px;margin-left:58px;}
